body{
	background-image: url(backgound.jpg);
	background-repeat: no-repeat;
}
#game-box{
	background-color: white;
	width:800;
	height:450;
	margin-left:80;
	margin-top: 100;
	position: relative;
	border-radius: 5%;
}
#box1{
	background-color: red;
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
}
#box2{
	background-color: blue;
	border-top-right-radius: 5%;
	border-bottom-right-radius: 5%;
}
.box-0{
	float:left;
	width:390;
	height:450;
	border: solid 5px black;
}
#new-game{
	margin-top: 20;
	margin-left: -450;
	background-color: white;
	border: none;
	font-size: 20;
	font-family: cursive;
	border-style: groove;
}
.score-tag{
	font-family:monospace;
	font-size: 35;
	margin-left: 90;
}
.score-value{
	font-size: 100;
	width: 200;
	height: 200;
	font-family: monospace;
	/*background-color: chartreuse;*/
	margin-top: 70;
	margin-left: -170;
	position: absolute;
}
#dice-pic1{
	width: 130;
	height:130;
	margin-left: 110;
	margin-top: 150;
	background-color:white;
	position: absolute;
}
#dice-pic2{
	width: 130;
	height:130;
	margin-left: 530;
	margin-top: 150;
	background-color:white;
	position: absolute;
}
#roll{
	margin-top: 300;
	margin-left: 300;
	background-color:beige;
	border: none;
	font-size: 40;
	font-family:'Special Elite', cursive;
	border-style:solid;
	position:fixed;
	padding-top: 10;
}